.question-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 0px;
  padding: 1rem 0;
}

@media (min-width: 480px) {
  .question-card {
    max-width: 30rem;
    min-width: 30rem;
    padding: 1rem;
    border-radius: 3px;
  }
}
