.question-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: white; */
  padding: 32px 0px 0px;
  box-sizing: border-box;
  padding: 1rem;
  margin: 3rem 1rem;
  max-width: 30rem;
  min-width: 30rem;
  border-radius: 3px;
}